@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message - In English</h3>

<h3>Bible</h3>
<p>
    This module contains entire bible to show. In this module we have two different forms:
    <br />1. Tamil Bible
    <br />2. English Bible
</p>

<h4>Bible Index</h4>
<p>
    This Bible Index shows the entire Books (from Genesis to Revelation). When you click the particular Book then you can see the total episodes in that particular book. When you click a particular episode the number of parts will be shown.
</p>

<h3>Songs</h3>
<p>
    This module contains all the songs which are needed to display in the screen. Here also we have two important forms as follows
    1. Tamil Songs
    2. English Songs
</p>

<h4>Song Index</h4>
<p>
    This Song Index shows it shows the entire song database in the application with respective songnumber and name you can select the song based on this criterion and it will be shown.
</p>

<h3>@ViewBag.Message - தமிழில்</h3>


<h3>வேதாகமம்</h3>
<p>
    இந்த பகுதியானது முழுமையான வேதாகமத்தைக் கொண்டது. இந்த பகுதியில் இரண்டு விதமான திரைகளை கொண்டது.
    <br />1.வேதாகமம் - தமிழில்
    <br />2.வேதாகமம் - ஆங்கிலத்தில்
</p>

<h4>வேதாகம அட்டவணை</h4>
<p>
    இந்த அட்டவணையானது வேதாகமத்தில் உள்ள அனைத்து புத்தகங்களையும் பட்டியலிடப்பட்டுள்ளது. பயனாளர் எந்த புத்தகத்தை அழுத்துகிறாரே அந்த புத்தகத்திலுள்ள அதிகாரங்கள் பட்டியலிடப்படும். பின்பு அதிகாரத்தை அழுத்துவதன் மூலம் அதிலுள்ள வசனங்களின் பட்டியல் வெளிப்படும்
</p>

<h3>பாடல்</h3>
<p>
    இந்த பகுதியல் அணைத்து பாடல்களும் இடம் பெற்றுள்ளது. இப்பகுதியிலும் இரண்டு திரைகள் உள்ளன.
    1. பாடல் - தமிழில்
    2. பாடல் - ஆங்கிலத்தில்
</p>

<h4>பாடல் அட்டவணை </h4>
<p>
    இந்த பாடல் அட்டவணையானது பயன்பாட்டில் உள்ள முழு பாடல் தரவுத்தளத்தையும் அந்தந்த பாடல் எண் மற்றும் பெயருடன் காட்டுகிறது, இந்த அளவுகோலின் அடிப்படையில் நீங்கள் பாடலைத் தேர்ந்தெடுக்கலாம், அது காண்பிக்கப்படும்.
</p>
    
