@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    NO.5/379, SAGADEVAN STREET,<br />
    COLLECTRATE,<br />
    DARMAPURI<br />
    TAMIL NADU,<br />
    INDIA.<br />
    PINCODE-636705.<br />
    <abbr title="Phone">Contact Number:</abbr>
    94445-43277
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:infor@dazzlesofttech.com">info@dazzlesofttech.com</a><br />
    <strong>Company E-mail:</strong> <a href="mailto:dazzlesofttech@gmail.com">dazzlesofttech@gmail.com</a>
</address>