@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h1>SCRIPTURE AND CANTICLE 3.0</h1>
    <p class="lead">SAC is a software, can be used in all the churches. This software specifically done for medium and large size churches. This can be used to give some kind of enthusiastic movements to the members in the churches, and it will improve the status of the church and the church will get the name as Computerized Church. During the song session this will give the pleasure to the members in the church.</p>
    <p><h4>SAC என்பது அனைத்து சபைகளிலும் பயன்படுத்தக்கூடிய ஒரு மென்பொருள் ஆகும். இந்த மென்பொருளானது நடுத்தர மற்றும் பெரிய சபைகளை கருத்தில் கொண்டு தயார் செய்யப்பட்டதாகும். இந்த மென்பொருளை பயன்படுத்துவதால் சபையில் உள்ள ஊழியர்கள் மற்றும் விசுவாசிகளுக்கு ஆராதனை மற்றும் வேத வசன நேரங்களில் மிகவும் மகிழ்சிகரமாக இருக்கும் மற்றும் நமது சபையானது சமூகத்தில் கணிணிமயமாக்கப்பட்டது என்று பெயர் பெரும். மற்றும் இதன் மூலம் சபையானது சமூகத்தில் தனித்துவம் பெறும்.</h4></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>English Bible</h2>
        <a href="javascript:void(0);" onClick="window.open('http://Google.com', '',
'fullscreen=yes, scrollbars=auto');">English Bible Presentation</a>
    </div>
    <div class="col-md-3">
        <h2>Tamil Bible</h2>
        <p>Tamil Bible Presentation</p>
    </div>
    <div class="col-md-3">
        <h2>English Song</h2>
        <p>English song Presentation</p>
    </div>
    <div class="col-md-3">
        <h2>Tamil Song</h2>
        <p>Tamil song Presentation</p>
    </div>
</div>